@import "../../styles/main.scss";

.home .landing {
    .text-wrapper {
        width: 95vw;
        @media (min-width: 550px) {
            width: 70vw;
        }
        @media (min-width: 750px) {
            width: 60vw;
        }
        @media (min-width: 1000px) {
            width: 50vw;
        }
        @media (min-width: 1200px) {
            width: 42vw;

            .links {
                a {
                    font-size: 1.3rem !important;
                    svg {
                        width: 32px !important;
                    }
                }
            }
        }

        .links {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
