@import "../../styles/main.scss";

.login-password {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    .content {
        width: 280px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .image {
            width: 60%;
        }
        .text-field,
        .button {
            width: 100%;
            margin-bottom: 8px;
        }

    }
}
